---
import { getI18N } from '@/i18n';
import ProfileItem from '../ProfileItem.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section class='pt-12 text-black dark:text-white'>
  <div class='mx-auto w-full max-w-screen-lg px-2 py-4'>
    <div class='grid grid-cols-1 gap-8 md:grid-cols-2'>
      <div class='mx-auto flex flex-col gap-3 leading-8 text-white'>
        <h1 class='text-2xl'>{i18n.about_me_title}</h1>
        <p>{i18n.about_me_description}</p>
        <p>{i18n.about_me_description_center}</p>
        <p>{i18n.about_me_description_end}</p>
      </div>
      <ProfileItem />
    </div>
  </div>
</section>
