---
import { getI18N } from '@/i18n';
import Layout from '@/layouts/Layout.astro';
import HomeHero from '../views/HomeHero.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.home_title}>
  <HomeHero />
  <!-- 
  <div class='h-80 w-80 border-2 border-black bg-green-500'></div>
  <div class='h-80 w-80 border-2 border-black bg-green-500'></div>
  <div class='h-80 w-80 border-2 border-black bg-green-500'></div>
  <div class='h-80 w-80 border-2 border-black bg-green-500'></div> -->
</Layout>
