---
import Layout from '@/layouts/Layout.astro';

import { getI18N } from '@/i18n';
import MiddleSection from '../MiddleSection.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.home_title}>
  <section class='bg-sky-500'>
    <div class='mx-auto h-[100vh] w-full max-w-screen-lg'></div>
  </section>
  <MiddleSection class='text-sky-500' />

  <p>{i18n.app_header_title}</p>
  <div class='h-80 w-80 border-2 border-black bg-green-500'></div>
  <div class='h-80 w-80 border-2 border-black bg-green-500'></div>
  <div class='h-80 w-80 border-2 border-black bg-green-500'></div>
  <div class='h-80 w-80 border-2 border-black bg-green-500'></div>
</Layout>
