---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import { getI18N } from '@/i18n';

const exps = await getCollection('exps');

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.projects_title} class='pt-12'>
  <section
    class='mx-auto w-full max-w-screen-lg px-2 text-black dark:text-white'
  >
    <span class='text-2xl'>Projects</span>
    <div class='grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-8'>
      {
        exps
          .filter((exp) => exp.data.lang === currentLocale)
          .map(async (exp) => {
            const {
              data: { title },
              render,
            } = exp;

            const { Content } = await render();

            return (
              <div class='center flex size-full items-center justify-center p-4'>
                <article class='flex size-full rounded-md bg-transparent dark:bg-zinc-900'>
                  <div class='aspect-square h-auto min-w-36 bg-red-100' />
                  <div class='prose dark:prose-invert p-2'>
                    <span class='text-lg'>{title}</span>
                    <Content />
                  </div>
                </article>
              </div>
            );
          })
      }
    </div>
  </section>
</Layout>
