---
import cn from 'classnames';
import Header from '@/components/app/Header.astro';
import Footer from '@/components/app/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
interface Props {
  title: string;
  description?: string;
  class?: string;
}

const { currentLocale } = Astro;
const { title, description, class: className } = Astro.props;
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset='UTF-8' />
    <link rel='icon' type='image/svg+xml' href='/rocket.svg' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <meta name='viewport' content='width=device-width' />
    <meta name='description' content={description} />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <!-- pt-12 -->
  <body
    class='flex min-h-screen flex-col justify-between bg-zinc-300 dark:bg-gradient-to-br dark:from-zinc-800 dark:to-zinc-950'
  >
    <Header />
    <main class={cn(className, 'flex-grow')}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
